<p>
  topic-add works!
</p>
<div class="container" >
  <h1 style="text-align: center"> Add a topic </h1>
  <div class="form-group" style="width: 30%; margin: 25px auto">
    <form class= "form-group">
      <div class="form-group">
        <input type="text" class="form-control" id="topicName" name="topicName"required [(ngModel)]="topicName" placeholder="topic Name" >
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click) = "add()"> Submit </button>
      </div>

      <a href= "/topic/view"> Go back </a>
    </form>
  </div>
</div>

<br/>
