
<ng-container *ngIf="subject" >
  <h2> Edit Subject </h2>
  <div class="form-group row">
    <label class="col-xs-6 col-form-label"> Subject : </label>
    <input type="text" class="form-control" id="name" required [(ngModel)]="subject.subjectName" />
  </div>
  <div class="form-group row">
    <label class="col-xs-6 col-form-label"> SID : </label>
    <input type="text" class="form-control" id="name" required [(ngModel)]="subject.SID" />
  </div>
  <div class="form-group">
    <!-- Update Button -->
    <button type="submit" class="btn btn-primary" (click) = "update()">Update</button>
  </div>
  <a href = '/subject/view'> Go back </a>
</ng-container>
